* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

section  {
  width: 100%;
}



section h1 {
   width: 30%;
   text-align:center;
}

section p, section content {
  width: 70%;
}


header.header-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  padding: 4% 10%;
  color: white;
  border: 5px outset rgb(158, 204, 237);
 

}
.logo {
  width: 120px;
  border-radius: 50px;
}
.logo:hover {
    Transition:2s;
    opacity: .5; 
    cursor: pointer;
}
#navbar {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  font-family: system-ui;
 
 }
li {
  display: inline-block; 
}
li a{
  Transition: .2s ease-in;
  color: rgb(147, 188, 217);
  text-decoration: none;
}
#navbar li a:hover{
  color: grey;
  cursor:pointer;
}
span {
  font-size:xx-large;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: -1;
  font-size: 23px;
  padding: 50px;
  color:rgba(27, 27, 20, 0.725);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 5px outset rgb(158, 204, 237);
}
.hello {
  color:rgb(158, 204, 237);
  font-size: 80px;
  border:5px outset rgb(158, 204, 237);
  text-align: center;
}

.profile-picture {
  width: 400px;
  background-color:rgb(255, 253, 253);
  border-radius:0px;
  opacity:80%;
  border:5px outset rgb(158, 204, 237);
  flex-shrink: 0;
  
}
#about-me {
  display: flex;
  height: 500px;
  border: 5px outset rgb(158, 204, 237);
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: space-evenly;
  }
#about-me h1 {
  font-size: 35px;
  background-color: white;
  color: grey;
  /* margin-right: 10px;
  padding-right: 5px; */

}

#about-me p { 
  color: white;
  background-color: white;
  /* width: 1000px; */
  color: grey;
  text-align: left;
 
    }


#work {
  display: flex;
}



#work h1 {
  font-size: 35px;
  background-color: white;
  color: grey;
  /* margin-left: 20px;
  margin-right: 10px;
  padding-right: 5px; */
}
content a img{
  width: 10%;
}

#work content {
  display: flex;
  flex-wrap: wrap;
}

#work content a {
  text-decoration: none;
  /* width: 10%; */
}

footer {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 4% 10%;
color: white;
border: 5px outset rgb(158, 204, 237);
}







@media screen and (min-width: 800px) {
  header {
    width: 75%;
  }

  @media screen and (min-width: 500px) {
    nav,  {
      width: 75%;
    }
    @media screen and (min-width: 500px) {
      section  {
        display: flex;
        
      }


      /*
button {
  border-radius: 15px; 
  width: 150px;
  padding: 10px;
  transition: .8s;
  color: black;
  border-color: white;
  background-color: #BDD3EF;
  font-weight: bolder;
  box-shadow: 8px 5px; 
  
}
button:hover {
  background-color: rgb(208, 214, 241);
  border-color: black;
  cursor:pointer;
  box-shadow: none;
}
*/