* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header.header-1 {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: space-evenly;
  align-items: center; 
  position: fixed;
  background-color: white;

}

#navbar {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  font-family: system-ui;
 }

li {
  display: inline-block; 
  text-decoration: none;
  padding-left: 30px;
  
}

li a{
  Transition: .6s ease-in;
  text-decoration: none;
  font-size: 18px;
}

li a:hover{
  color: grey;
  cursor:pointer;
  
}

#about-me {
  width: 60%;
  display: flex;
  height: 500px;
  flex-direction: row;
  margin: auto;
  align-items: center;
  padding-top: 100px;
  }

.profile-picture {
  width:50%;
  max-height: 400px;
  object-fit: cover;
  justify-self: center;
  border-radius: 50%;
  border: none;
 
}

#about-me p {
  padding-left: 30px;
  padding-right: 30px;
  width: 50%;
}

h2 {
  font-size: 35px;
  border: none;
  text-align: center;
}

#image-1 a img {
display: flex;
height: 300px;
width: 40%;
border-radius: 60px;
object-fit:cover;
object-position:-10px;
border: 4px solid grey;
text-align: center;

}


#work img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 40px;
  border: 4px solid grey;
  margin: 6px;
 
}

#work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

img {
  width:50%;
  border-radius: 40px;
  border: 4px solid grey;
}

#contact-me {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 100px;
}

footer a {
width:0;
height:0; 
}

footer h1 {
font-size: 35px;
padding:0px;
}

footer a {
padding: 0;
font-size: 18px;
font-weight: bold;
font-style: italic;
font-family: system-ui;
}

#Worksection > a {
  display: block ;
  text-align: center ;
}

@media screen and (min-width: 1000px) {
  header {
    flex-wrap: wrap;
  }
}

  @media screen and (min-width: 500px) {
    nav,  {
      width: 75%;
    }
  }


      /*
button {
  border-radius: 15px; 
  width: 150px;
  padding: 10px;
  transition: .8s;
  color: black;
  border-color: white;
  background-color: #BDD3EF;
  font-weight: bolder;
  box-shadow: 8px 5px; 
  
}
button:hover {
  background-color: rgb(208, 214, 241);
  border-color: black;
  cursor:pointer;
  box-shadow: none;
}
*/