.card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 70px;
}

.profilephoto {
    border-radius: 120px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px #0b0909;
}

.info {
    width: 300px; 
}

h2, h1, p {
    text-align: center;
    
}


#aboutmesection {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.card img {
   height: 150px;
   width: 100%;
   
}

.card p {
    height: 90px;
    font-size: 14px;
}

.card-body {
    text-align: center;
}

         
.project-buttons {
    background-image: linear-gradient(to right, #c15d5b 0%, #c8afae  65%, #ce564f  100%);
    margin: auto;
    width: 130px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #0b0909;
    border-radius: 30px;
    display: block;
  }

  .project-buttons:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
#navbarNav {
    font-size: 18px;
}

footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 35px;
}

.bi-linkedin {
    color: rgb(35, 114, 225);
}
.bi-github {
    color: black;
}
.bi-envelope {
    color: black;
}

.hire-me {
    background-image: linear-gradient(to right, #c15d5b 0%, #c8afae  65%, #ce564f  100%);
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #070707;
    border-radius: 25px;
    display: block;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hire-me:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    border: none;
  }

  .header {
    display: flex;
    justify-content: flex-end;
  }