.card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 150px;
}

.profilephoto {
    border-radius: 100%;
}

.info {
    width: 300px; 
}

h2 {
    text-align: center;
}
